## Countries Population

In [11]:
# importing the needed libraries 
import sys
import pandas as pd
import requests
from bs4 import BeautifulSoup # using beatuifulsoup to scrape

## Web Scraping:

In [12]:
# downloads and parses the HTML content of a Wikipedia page listing countries by population
link = requests.get("https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)").text
soup = BeautifulSoup(link, 'html.parser')
# print(soup.prettify())

In [13]:
# finding the first table from the page
table = soup.find("table")

In [14]:
world_titles = soup.find_all('th')

In [15]:
# gathering the table heading 
world_titles

[<th>Country or territory
 </th>,
 <th>Population<br/>(1 July 2022)
 </th>,
 <th>Population<br/>(1 July 2023)
 </th>,
 <th>Change<br/>(%)
 </th>,
 <th style="max-width:9em;"><a href="/wiki/United_Nations_geoscheme" title="United Nations geoscheme">UN continental<br/>region</a><sup class="reference" id="cite_ref-UNregions_1-1"><a href="#cite_note-UNregions-1"><span class="cite-bracket">[</span>1<span class="cite-bracket">]</span></a></sup>
 </th>,
 <th style="max-width:8em;"><a href="/wiki/List_of_countries_and_territories_by_the_United_Nations_geoscheme" title="List of countries and territories by the United Nations geoscheme">UN statistical<br/>subregion</a><sup class="reference" id="cite_ref-UNregions_1-2"><a href="#cite_note-UNregions-1"><span class="cite-bracket">[</span>1<span class="cite-bracket">]</span></a></sup>
 </th>,
 <th class="navbox-title" colspan="2" scope="col"><link href="mw-data:TemplateStyles:r1129693374" rel="mw-deduplicated-inline-style"><style data-mw-deduplicate="TemplateStyles:r1239400231">.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}html.skin-theme-clientpref-night .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}@media(prefers-color-scheme:dark){html.skin-theme-clientpref-os .mw-parser-output .navbar li a abbr{color:var(--color-base)!important}}@media print{.mw-parser-output .navbar{display:none!important}}</style><div class="navbar plainlinks hlist navbar-mini"><ul><li class="nv-view"><a href="/wiki/Template:Lists_of_countries_by_population_statistics" title="Template:Lists of countries by population statistics"><abbr title="View this template">v</abbr></a></li><li class="nv-talk"><a href="/wiki/Template_talk:Lists_of_countries_by_population_statistics" title="Template talk:Lists of countries by population statistics"><abbr title="Discuss this template">t</abbr></a></li><li class="nv-edit"><a href="/wiki/Special:EditPage/Template:Lists_of_countries_by_population_statistics" title="Special:EditPage/Template:Lists of countries by population statistics"><abbr title="Edit this template">e</abbr></a></li></ul></div><div id="Lists_of_countries_by_population_statistics600" style="font-size:114%;margin:0 4em"><a href="/wiki/Lists_of_sovereign_states_and_dependent_territories" title="Lists of sovereign states and dependent territories">Lists of countries</a> by <a href="/wiki/Demographic_statistics" title="Demographic statistics">population statistics</a></div></link></th>,
 <th class="navbox-group" scope="row" style="width:1%"><a href="/wiki/World_population" title="World population">Global</a></th>,
 <th class="navbox-group" scope="row" style="width:1%"><a href="/wiki/List_of_continents_and_continental_subregions_by_population" title="List of continents and continental subregions by population">Continents/subregions</a></th>,
 <th class="navbox-group" scope="row" style="width:1%">Intercontinental</th>,
 <th class="navbox-group" scope="row" style="width:1%">Cities/urban areas</th>,
 <th class="navbox-group" scope="row" style="width:1%">Past and future</th>,
 <th class="navbox-group" scope="row" style="width:1%"><a href="/wiki/Population_density" title="Population density">Population density</a></th>,
 <th class="navbox-group" scope="row" style="width:1%">Growth indicators</th>,
 <th class="navbox-group" scope="row" style="width:1%"><a href="/wiki/Life_expectancy" title="Life expectancy">Life expectancy</a></th>,
 <th class="navbox-group" scope="row" style="width:1%">Other <a href="/wiki/Demography" title="Demography">demographics</a></th>,
 <th class="navbox-group" scope="row" style="width:1%"><a href="/wiki/Health" title="Health">Health</a></th>,
 <th class="navbox-group" scope="row" style="width:1%">Education and innovation</th>,
 <th class="navbox-group" scope="row" style="width:1%"><a href="/wiki/Demographic_economics" title="Demographic economics">Economic</a></th>]

In [16]:
# printing the cols heading
five_column = [th.text.strip().split('[')[0] for th in world_titles[:5]]

print(five_column)

['Country or territory', 'Population(1 July 2022)', 'Population(1 July 2023)', 'Change(%)', 'UN continentalregion']

In [17]:
df = pd.DataFrame(columns = five_column)
df

Empty DataFrame
Columns: [Country or territory, Population(1 July 2022), Population(1 July 2023), Change(%), UN continentalregion]
Index: []

In [18]:
# Getting all rows from the table
col_name = table.find_all('tr')

In [19]:
# looping through the rows
for row in col_name[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data[:5]]

    length = len(df)
    df.loc[length] = individual_row_data

In [20]:
df.head()

,Country or territory,Population(1 July 2022),Population(1 July 2023),Change(%),UN continentalregion
0,World,"8,021,407,192","8,091,734,930",+0.88%,–
1,India,"1,425,423,212","1,438,069,596",+0.89%,Asia
2,China[a],"1,425,179,569","1,422,584,933",−0.18%,Asia
3,United States,"341,534,046","343,477,335",+0.57%,Americas
4,Indonesia,"278,830,529","281,190,067",+0.85%,Asia

In [ ]:
# saving the dataframe as csv
df.to_csv(r'C:\py\Countries.csv')